/* Major element styling */
body {
  background-color: rgb(145, 184, 228);
}

p,
h1 {
  margin: 20px;
  text-align: justify;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: block;
  margin: auto;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #444;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 18 18px;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Style the intro and closing content */
#intro,
#closing {
  padding: 30 30px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
