/* Major element styling */
body {
  background-color: rgb(145, 184, 228);
}

p,
h1 {
  margin: 20px;
  text-align: justify;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 18 18px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Style the intro and closing content */
#intro,
#closing {
  padding: 30 30px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
